<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gummy Bear Order 1</title>
</head>
<body>
    <h1>Gummy Bear store</h1>
        <ul>
        <li>{{ order1.customer_name }}
            <ul>
                <li>{{ order1.order_date }}</li>
                <li>{{ order1.quantity }}</li>
                <li>{{ order1.gummy_flavour }}</li>
            </ul>
        </li>
        </ul>
</body>
</html>
